
@tailwind base;
@tailwind components;
@tailwind utilities;
.section{padding:12rem 0}
.section-number{font-size:7.5rem;color:#eaeaea}
.section-title{font-size:2.6rem;letter-spacing:.28em}
.editorial{max-width:780px;line-height:2}
